@media only screen and (max-width: 1700px){
    .main_testimonial_section::before{
        left: -157px;
    }
    .main_slide_area i{
        right: 204px;
    }
}
@media only screen and (max-width: 1500px){
    
    .testimonial_section .heading_area h2{
        font-size: 60px;
    }
    .testimonial_section .heading_area h3{
        font-size: 28px;
        margin-left: 137px;
    }
    .main_testimonial_section::before{
        left: -88px;
        width: calc(100% - 116px);
    }
    .main_slide_area i{
        right: 204px;
    }
    .testimonial_section .heading_area{
        top: 97px;
    }
}
@media only screen and (max-width: 1599px){
    .header_navs .nav_full .navbar-nav .nav-item{padding: 0 32px;}
    .banner_slide .banner_image{height: 700px;}
    .banner_slide .banner_image .banner_text h1{font-size: 75px;}
    .footer_details .ftr_details_portion{width: 90%;}
    .cellexir_promise_section .cellexir_img_section img{width: 47%;}
    .cellexir_promise_section .cellexir_text_section h2{line-height: 45px; font-size: 35px; margin-bottom: 30px;}
    .cellexir_promise_section .cellexir_text_section h2 span::before{height: 38px; margin-top: -17px;}
    .cellexir_promise_section .cellexir_text_section h2 span{padding-left: 22px;}
    .cellexir_promise_section .cellexir_text_section p{font-size: 17px; line-height: 30px; margin-bottom: 20px;}
    .cellexir_promise_section .cellexir_text_section .cellexir_list li{padding: 2px 0 2px 25px;}
    .cellexir_promise_section{padding: 100px 0;}
    .Product_Categories_section .text_head h2{font-size: 35px; line-height: 45px;}
    .Product_Categories_section .slide_section .product_box{margin: 10px 10px;}
    .Product_Categories_section .product_contain{width: 90%;}
    .training_section::after{top: -40px;}
    /* .training_section{padding: 200px 0 90px 0;} */
    .training_section .training_text_box h2{font-size: 50px; margin-bottom: 40px;}
    .training_section .training_text_box h2 span{font-size: 50px;}
    .Product_Categories_section{padding: 90px 0;}
    .home_blog_section .text_head h2{font-size: 35px; line-height: 45px;}
    .home_blog_section .text_head{margin-bottom: 50px;}
   
    .home_blog_section .blog_contain{width: 90%;}
    .Product_Categories_section{z-index: 9;}
    .contact_us_area .copy_right_section p{padding: 45px 0 35px 0;}
    .cellexir_promise_section .cellexir_img_section{gap: 25px;}
    .training_section .training_text_box p{font-size: 22px; margin-bottom: 35px;}
    .header_navs .nav_full .btn_nav{width: 360px;}
    .about_inner_text{font-size: 17px; line-height: 30px; color: #8c8c8c;}
    .about_inner_text p{font-size: 17px; line-height: 30px; color: #8c8c8c;}


    .training_curve_section{margin-top: -27px; z-index: 9; padding: 180px 0 90px;}
    .training_section .training_text_box{width: 653px;}
    .service_details .ser_detail_box .img_box_ser_details{height: 510px;}
    .support_box .box{gap: 25px; padding: 40px 35px 40px 35px;}
    .support_box .portion_support{width: 90%;}
    .best_work_section .work_text{margin-left: 35px;}
    .service_inner .slide_section .product_box{margin-bottom: 44px; margin-left: 10px; margin-right: 10px;}

}


@media only screen and (max-width: 1439px){
    .mision_vision .mision_text_box{padding-left: 0;}
    .why_shoose_us_section .rai_box_section::before{right: -155px; background-size: 80%;}
    .testimonial_section{padding: 120px 0;}
    .service_details .ser_detail_box .img_box_ser_details::before{top: -12px; left: -12px; height: 12px;}
    .service_details .ser_detail_box .img_box_ser_details::after{top: -12px; left: -12px; width: 12px;}
    .service_details .ser_detail_box .img_box_ser_details{height: 450px; margin-bottom: 40px;}
    .service_details .cellexir_text_section h2{margin-bottom: 22px;}
    .service_details .cellexir_text_section h2 span{padding-left: 20px;}
    .best_work_section .work_text{margin-left: 20px;}
    .best_work_section .work_text h4{font-size: 30px; margin-bottom: 15px; line-height: 35px;}
    .best_work_section .work_img::after{height: 90%; clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);}
    .service_details{padding: 100px 0 80px 0;}
    .support_box{padding: 100px 0;}
    .best_work_section{padding: 100px 0;}
    .best_work_section .work_img::after{bottom: -12px; left: -12px; width: 12px;}
    .best_work_section .work_img::before{bottom: -12px; left: -12px; height: 12px;}
    .service_inner .slide_section .product_box{margin-bottom: 25px; margin-left: 0; margin-right: 0;}
    .service_inner .slide_section .product_box h3{margin-bottom: 30px;}
    .service_inner .slide_section .product_box .img_box{margin-bottom: 22px;}
    .service_inner .slide_section .product_box{padding: 25px 30px;}
}


@media only screen and (max-width: 1365px){
    
    .header_navs .nav_full .navbar-nav .nav-item .nav-link{
        font-size: 16px;
    }
    
    .top_header_section .logo_header img{width: 40%;}
    .header_navs .nav_full .btn_nav{width: 260px;}
    .header_navs .nav_full .btn_nav::before{left: 27px; transform: rotate(27deg); width: 2px;}
    .header_navs .nav_full .btn_nav::after{width: 2px; left: 32px; transform: rotate(27deg);}
    .header_navs .nav_full .navbar-nav .nav-item{padding: 0 24px;}
    .top_header_section{padding: 20px 0 40px 0;}
    .banner_slide .banner_image{height: 600px;}
    .banner_slide .banner_image .banner_text h1{font-size: 60px; margin-bottom: 17px;}
    .banner_slide .banner_image .banner_text h6{margin-bottom: 25px;}
    .banner_slide .banner_image .banner_text p{width: 470px; font-size: 17px; line-height: 27px; margin-bottom: 40px;}
    .cellexir_promise_section{padding: 80px 0 90px 0;}
    .cellexir_promise_section .cellexir_img_section img{width: 47%; height: 560px;}
    .Product_Categories_section{padding: 75px 0;}
    .Product_Categories_section .product_contain{width: 95%;}
    .Product_Categories_section .slide_section .product_box{margin: 0; padding: 25px 25px;}
    .Product_Categories_section .slide_section .product_box h3{margin-bottom: 30px;}
    .Product_Categories_section .slide_section .product_box .img_box{margin-bottom: 22px;}
    .training_section::after{top: -60px;}
    /* .training_section{padding: 160px 0 85px 0;} */
    .training_section .training_text_box{width: 640px;}
    
    .home_blog_section .blog_contain{width: 95%;}
    .footer_details .ftr_details_portion .details_box{padding: 0 20px;}
    
    .why_shoose_us_section .rai_box_section::before{display: none;}




    .container{
        max-width: 1160px;
    }
    .testimonial_section .heading_area h2 {
        font-size: 51px;
    }
    .testimonial_section .heading_area h3{
        font-size: 24px;
        margin-left: 117px;
    }
    .main_testimonial_section::before{
        left: -58px;
        
    }
    .main_slide_area i {
        right: 174px;
    }
    .testimonial_section .heading_area{
        top: 114px;
    }
}


@media only screen and (max-width: 1365px){
    .container{
        max-width: 992px;
    }
    .main_testimonial_section::before {
        left: 35px;
    }
    .main_slide_area i {
        right: 81px;
    }
    .slide_buttons_area {
        left: 173px;
    }
    .testimonial_section .heading_area h2 {
        font-size: 37px;
    }
    .testimonial_section .heading_area h3 {
        font-size: 20px;
        margin-left: 53px;
    }

    .cellexir_promise_section .cellexir_text_section p{
        font-size: 15px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list {
        margin-bottom: 24px;
    }
    .cellexir_promise_section .cellexir_img_section img {
        height: 411px;
    }
    .cellexir_promise_section .cellexir_text_section h2{
        margin-bottom: 10px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list li{
        font-size: 15px;
        padding: 0 0 0 25px;

    }
    .cellexir_promise_section .cellexir_text_section p{
        margin-bottom: 7px;
    }

    .Product_Categories_section .slide_section .product_box .img_box{
        height: 218px;
    }
    .Product_Categories_section .slide_section .product_box .para p{
        font-size: 14px;
    }

    .training_section .training_text_box {
        width: 560px;
   
    }
    .training_section .training_text_box p{
        font-size: 17px;
        line-height: 30px;
    }
    .training_section .training_text_box h2 span{
        font-size: 35px;
    }
}

@media only screen and (max-width: 1279px){
    .training_curve_section {
        margin-top: -35px;
    }
    .mision_vision .mision_text_box h2 span{font-size: 40px; padding-left: 20px;}
    .mision_vision .mision_text_box h2 span::before{height: 42px; margin-top: -18px;}
    .mision_curve_section{padding: 145px 0 40px 0;}
    .mision_vision .mision_text_box h2{margin-bottom: 35px;}
    .mision_vision .mision_text_box p{font-size: 22px; line-height: 35px; margin-bottom: 25px;}
    .inner_banner .inner_banner_text h1{font-size: 50px;}
    .inner_banner{height: 400px;}
    .contact_form .text_head h2{font-size: 35px; line-height: 40px;}
    .conatct_page{padding: 80px 0;}
    .contact_form .form_box .cont_main_section_form{padding: 40px;}
}

@media only screen and (max-width: 991px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
    .form_sec_head{
        margin-bottom: 30px
    }
    .top_header_section .logo_header img {
        width: 18%;
    }
    .top_header_section .social_header{
        justify-content: center;
    }
    .top_header_section .social_header{
        margin-top: 20px;
    }
    .top_header_section .social_header li{
        margin-right: 20px;
    }
    .top_header_section .social_header li:last-child{
        margin-right: 0;
    }
    .testimonial_section .container{
        display: block !important;
    }
    .testimonial_section .heading_area{
        position: relative;
        text-align: center;
        top: 0;
        margin-bottom: 50px;
    }
    .testimonial_section .heading_area h2{
        font-size: 50px;
    }
    .testimonial_section .heading_area h3{
        margin-left: 0;
        font-size: 28px;
    }
    .main_testimonial_section::before{
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border: #4d5751 1px solid;
    }
    .main_testimonial_section{
        width: 100%;
    }
    .main_slide_area i{
        display: none;
    }
    .main_slide_area .carousel-inner::before{
        width: 100%;
        left: 0;
        margin: auto;
    }
    .main_slide_area .slide_area{
        width: 100%;
       
        text-align: center;
        padding: 45px
    }
    .carousel-inner{
        width: 80%;
        margin: 0 auto;
    }
    .main_slide_area .slide_area p{
        width: 100%;
    }
    .main_slide_area .slide_area img{
        position: relative;
        left: 0;
        right: 0;
    }
    .slide_buttons_area{
        width: 15%;
        margin: auto;
        height: 35px;
    }
    .main_slide_area button[type="button"]{
        position: absolute;
        margin-bottom: 0 !important;
    }
    .main_slide_area button[type="button"].carousel-control-prev{
        position: absolute;
    }
    .main_slide_area button[type="button"].carousel-control-next{
        position: absolute;
        left: auto;
        right: 0;
    }
    .slide_buttons_area{
        position: relative;
        left: 0;
    }
    .testimonial_section {
        padding: 50px 0;
    }
    .main_slide_area .slide_area img{
        margin-bottom: 30px;
    }
    .main_testimonial_section{
        padding: 40px 0;
    }

    .navbar-nav{
        flex-direction: row;
    }
    .header_navs .nav_full .navbar-nav .nav-item {
        padding: 0 11px;
    }
    .header_navs .nav_full .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    .header_navs .nav_full .btn_nav{
        position: absolute;
        top: 0;
        right: 0;
    }

    .banner_slide .banner_image{
        clip-path: inherit;
    }
    .banner_slide .banner_text{
        text-align: center;
    }
    .banner_slide .banner_image .banner_text{
        padding-left: 0;
    }
    .banner_slide .banner_image .banner_text h6 span{
        padding-bottom: 50px;
    }
    .banner_slide .banner_image .banner_text h6 span::before{
        left: 0;
        right: 0;
        margin: auto;
    }
    .banner_slide .banner_image .banner_text p{
        width: 60%;
        margin: 0 auto;
    }
    .banner_slide .banner_image .banner_text .slider_btn{
        display: inline-block;
        margin-top: 30px;
    }


    .cellexir_promise_section .cellexir_img_section{
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    .cellexir_promise_section .cellexir_text_section{
        padding: 30px 0 0 0;
        text-align: center;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list{
        display: flex;
        justify-content: center;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list li {
        margin-right: 15px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list li:last-child{
        margin-right: 0;
    }
    .cellexir_promise_section .cellexir_text_section h2 span::before{
        width: 38px;
        height: 4px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -51px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_btn{
        display: inline-block;
    }
    .cellexir_promise_section .cellexir_text_section h2 {
        padding-bottom: 20px;
    }
    .cellexir_promise_section {
        padding: 50px 0 50px 0;
    }
    .cellexir_promise_section .cellexir_text_section h2 span{
        padding-left: 0;
    }
    .Product_Categories_section {
        padding: 50px 0;
    }

    .training_curve_section{
        clip-path: inherit;
        margin-top: 0;
        padding: 50px 0;
        text-align: center;
        background-image: none;
    }
    .training_section{
        position: relative;
    }
    .training_section::before{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left: 0;
        content: "";
    }
    .training_section .training_text_box{
        padding-left: 0;
        width: 100%;
    }
    .training_section .training_text_box p{
        display: inline-block;
        
    }
    .training_section .training_text_box h2 span{
        padding-left: 0;
    }
    .training_section .training_text_box h2 {
        padding-bottom: 20px;
    }
    .training_section .training_text_box h2 span::before{
        width: 38px;
        height: 4px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -51px;
    }
    .training_section .training_text_box p{
        font-size: 15px;
    }
    .training_btn{
        display: inline-block;
    }
   
    .home_blog_section{
        padding: 50px 0;
    }
    .footer_details{
        clip-path: inherit;
        padding: 50px 0;
    }
    .footer_details .ftr_details_portion .details_box{
        margin-bottom: 30px;
    }
    .contact_us_area .footer_logo_section .logo_text{
        width: 100%;
    }
    .home_blog_section{
        clip-path: inherit;
    }
    .contact_us_area{
        padding: 50px 0 0 0;
    }
    .contact_us_area .footer_social{
        display: none;
    }
    .contact_us_area .copy_right_section p{
        padding: 20px 0;
    }
    .top_header_section .form_sec_head .search_form{
        width: 100%;
    }
    .top_header_section .form_sec_head .search_form::after{
        width: 85%;
        right: 6%;
    }
    .why_shoose_us_section .rai_box_section .owl-carousel .owl-nav{
        display: none;
    }
    .why_shoose_us_section .rai_box_section .owl-carousel .owl-dots{
        text-align: center;
    }
    .why_shoose_us_section .rai_box_section .owl-carousel .owl-dot{
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: #375cdc;
        margin: 0 5px;
        border: 2px solid #f6a523;
    }
    .main_testimonial_section{
        max-width: 100%;
    }
    .mision_vision .mision_text_box{
        width: 100%;
    }
    .inner_banner{
        height: 345px;
        clip-path: inherit;
    }
    .inner_banner .inner_banner_text h1{
        margin-bottom: 15px;
    }
    .about_inner_text p{
        text-align: center;
    }
    .mision_curve_section{
        clip-path: inherit;
        padding: 45px 0 40px 0;
    }
    .mision_vision .mision_text_box h2{
        margin-bottom: 35px;
    }
    .mision_vision .mision_text_box p{
        font-size: 20px;
        line-height: 30px;
    }
    .mision_curve_section{
        background: none;
        text-align: center;
    }
    .mision_vision .mision_text_box h2 span::before{
        height: 3px;
        width: 42px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        top: 100%;
        margin-top: 0;
    }
    .mision_vision .mision_text_box h2 span{
        padding-left: 0;
        padding-bottom: 8px;
    }
    .support_box .box{
        margin-bottom: 20px;
    }
    .support_box{
        padding: 85px 0 65px;
    }
    .service_details{
        padding: 85px 0 55px 0;
    }
    .service_details .ser_detail_box .img_box_ser_details::before {
        top: -10px;
        left: -10px;
        height: 10px;
    }
    .service_details .ser_detail_box .img_box_ser_details::after {
        top: -10px;
        left: -10px;
        width: 10px;
    }
    .best_work_section .work_img::before {
        top: -10px;
        left: -10px;
        height: 10px;
        clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
    }
    .best_work_section .work_img::after {
        top: -10px;
        left: -10px;
        width: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    .best_work_section .work_text{
        margin-left: 0;
    }
    .best_work_section .work_text h4 span{
        padding-left: 18px;
    }
    .best_work_section .work_img{
        margin-bottom: 30px;
        height: 365px;
    }
    .best_work_section{
        padding: 85px 0 75px 0;
    }
    .support_box .portion_support{
        width: 100%;
    }
    .contact_us_area .footer_logo_section{
        padding: 0px 0 60px 0;
    }
    .service_details .cellexir_text_section p{
        text-align: center;
    }
    .service_details .cellexir_text_section h2{
        text-align: center;
    }
    .service_details .cellexir_text_section h2 span{
        padding-left: 0;
        padding-bottom: 6px;
    }
    .service_details .cellexir_text_section h2 span::before {
        width: 42px;
        height: 4px;
        background: #f6a523;
        position: absolute;
        content: "";
        left: 0;
        top: 100%;
        margin-top: 0;
        right: 0;
        margin: auto;
    }
    .service_details .cellexir_text_section h2{
        margin-bottom: 35px;
    }
    .best_work_section .work_text{
        text-align: center;
    }
    .best_work_section .work_text h4 span{
        padding-left: 0;
        padding-bottom: 7px;
    }
    .best_work_section .work_text h4{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .best_work_section .work_text h4 span::before {
        width: 42px;
        height: 4px;
        background: #f6a523;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 100%;
        margin: auto;
        margin-top: 0;
        bottom: 0;
    }
    .conatct_page{padding: 70px 0;}
    .conatct_page .contact_box h6{font-size: 17px;}
    .conatct_page .contact_box{padding: 35px 20px; height: 255px;}
    .conatct_page .contact_box .img_icon{width: 75px; height: 75px; margin: 0 auto 20px;}
    .contact_form .text_head h2 {font-size: 30px; line-height: 35px;}
    .contact_form_img img{height: 330px;}
    .contact_form_img{height: 330px;}
    .contact_form{margin: -270px 0 80px 0;}
    .map_section{height: 390px;}
    
    .cellexir_promise_section .cellexir_text_section .cellexir_list li{font-size: 12px; line-height: 18px;}

}

@media only screen and (max-width: 767px){

    .top_header_section .form_sec_head .search_form::after{
        width: 80%;
        right: 8%;
    }
    .header_navs .nav_full .btn_nav{
        width: 180px;
    }
    .header_navs .nav_full .btn_nav::before{
        left: 17px;
        transform: rotate(19deg);
    }
    .header_navs .nav_full .btn_nav::after{
        transform: rotate(19deg);
        left: 21px;
    }
    .header_navs .nav_full .btn_nav a{
        font-size: 14px;
    }
    .header_navs .nav_full .navbar-nav .nav-item{
        padding: 0 8px;
    }
    .inner_banner .inner_banner_text h1{
        font-size: 40px;
    }
    .inner_banner{
        height: 290px;
    }
    .header_navs .nav_full .navbar-nav .nav-item .nav-link{
        font-size: 13px;
    }
    .service_details .ser_detail_box .img_box_ser_details{
        height: 350px;
    }
    .conatct_page{
        padding: 70px 0 40px 0;
    }
    .conatct_page .contact_box{
        height: auto;
        margin-bottom: 30px;
    }
    .contact_form .text_head h2{
        font-size: 25px;
        line-height: 32px;
    }
    .why_shoose_us_section{
        padding: 70px 0 70px 0;
    }
    .why_shoose_us_section .text_head h2{
        font-size: 35px;
        line-height: 45px;
    }
    .why_shoose_us_section .text_head h2 span{
        gap: 22px;
    }
    .why_shoose_us_section .text_head{
        margin-bottom: 35px;
    }
    .service_inner{
        padding: 70px 0 65px 0;
    }
    .service_inner .text_head h2{
        font-size: 35px;
        line-height: 45px;
    }
    .service_inner .slide_section .product_box{
        padding: 25px 25px;
    }
    .service_inner .text_head{
        margin-bottom: 45px;
    }

}

@media only screen and (max-width: 600px){
    .slide_buttons_area{
        width: 110px;
    }
    .main_testimonial_section {
        padding: 24px 0;
    }
    .hamberger{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #375cdc;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .top_header_section{
        padding: 20px 0;
        position: relative;
    }
    .form_sec_head {
        display: none;
    }
    .header_navs{
        display: none
    }
    .top_header_section .social_header{
        display: none;
    }
    .top_header_section .logo_header{
        width: 150px;
       
    }
    .top_header_section .logo_header img{ 
        width: 100%;
    }

    .mobile_menu_wrapper{
        display: block;
    }
    .mobile_menu_wrapper .mobile_logo{
        width: 150px;
        display: block;
        margin-bottom: 4px;
    }
    .mobile_menu_wrapper .mobile_logo img{
        width: 100%;
    }

    .mobile_menu_wrapper .mobile_main_menu li{
        width: 100%;
    }

    .mobile_menu_wrapper .mobile_main_menu li a{
        color: #333;
        width: 100%;
        display: block;
        padding: 5px 0;
        border-bottom: rgba(0,0,0,.1) 1px solid;
        font-size: 14px;
    }
    .mobile_social{
        display: flex;
        margin: 20px 0;
    }

    .mobile_social li {
        margin-right: 10px;
    }
    .mobile_social li:last-child{
        margin-right: 0;
    }

    .mobile_social li a{
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 2px solid #f5a625;
    }
    .mobile_social li a i{
        font-size: 14px;
        color: #b2b2b2;
    }
    .nav_contact{
        position: relative;
    }

    .nav_contact span{
        background: #375cdc;
        width: 100%;
        height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
        
        position: relative;
        overflow: hidden;
        color: #fff;
    }

    .banner_slide{
        margin-top: 0;
    }
    .banner_slide .banner_image {
        height: 438px;
    }
    .banner_slide .banner_image .banner_text h1 {
        font-size: 34px;
    }
    .banner_slide .banner_image .banner_text h6 span{
        font-size: 16px;
    }
    .banner_slide .banner_image .banner_text p {
        width: 80%;
    }

    .cellexir_promise_section .cellexir_img_section img {
        height: 312px;
    }
    .cellexir_promise_section .cellexir_text_section h2{
        font-size: 34px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list{
        flex-wrap: wrap;
    }

    .Product_Categories_section .slide_section .product_box h3{
        text-align: center;
    }
    .Product_Categories_section .slide_section .product_box .img_box {
        height: 274px;
    }
    .Product_Categories_section .slide_section .product_box .para p{
        text-align: center;
    }
    .Product_Categories_section .text_head h2{
        font-size: 20px;
    }

    .training_section .training_text_box h2 span{
        font-size: 34px;
    }

    .home_blog_section .text_head h2{
        font-size: 20px;
    }
    .home_blog_section .blog_slide_box .blog_box{
        margin: 0;
    }
    .home_blog_section .blog_slide_box .blog_box .blog_text{
        text-align: center;
    }
    .home_blog_section .blog_slide_box .blog_box .blg_btn{
        text-align: center;
        padding-right: 0;
    }
    .inner_banner{
        margin-top: 0;
    }
    .inner_banner{
        height: 210px;
    }
    .inner_banner .inner_banner_text h1{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .inner_banner .inner_banner_text .iner_brd{
        gap: 30px;
    }
    .inner_banner .inner_banner_text .iner_brd li{
        font-size: 16px;
    }
    .inner_banner .inner_banner_text .iner_brd li::before{
        width: 12px;
        left: 48px;
    }
    .service_details .ser_detail_box .img_box_ser_details{
        height: 250px;
    }
    .service_details .cellexir_text_section h2{
        font-size: 35px;
        line-height: 40px;
    }
    .support_box .box{
        gap: 20px;
        padding: 30px 25px 30px 25px;
    }
    .support_box .box .icon_text h5{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .best_work_section .work_img{
        height: 250px;
    }
    .contact_form .text_head h2 span img{
        display: none;
    }
    .contact_form .form_box .cont_main_section_form{
        padding: 25px;
    }
    .contact_form .text_head{
        margin-bottom: 35px;
    }
    .contact_form .form_box .cont_main_section_form .contact_text_btm{
        text-align: center;
    }
    .support_box .box{
        display: block;
        text-align: center;
    }
    .support_box .box .icon_box{
        margin-bottom: 15px;
    }
    .slicknav_menu .slicknav_nav{
        top: 100px;
    }
    .slicknav_menu .slicknav_nav ul{
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    .slicknav_menu .slicknav_nav li a{
        padding: 8px 0 8px 20px !important;
    }
    .slicknav_menu .slicknav_nav .btn_nav a{
        color: #ffffff;
        font-size: 14px;
        padding-left: 20px;
        display: block;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    
}

@media only screen and (max-width: 450px){
    .testimonial_section .heading_area h2 {
        font-size: 30px;
    }
    .testimonial_section .heading_area h3 {
        font-size: 18px;
    }
    .cellexir_promise_section .cellexir_img_section img {
        height: 276px;
    }
    .cellexir_promise_section .cellexir_text_section h2{
        font-size: 24px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list{
        margin-top: 20px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list li{
        flex: 0 0 100%;
        padding-left: 0;
        padding-top: 12px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .cellexir_promise_section .cellexir_text_section .cellexir_list li::before{
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 0;
    }
    .Product_Categories_section .text_head h2{
        font-size: 16px;
    }
    .home_blog_section .text_head h2{
        font-size: 16px;
    }
    .mision_vision .mision_text_box h2{
        font-size: 30px;
    }
    .mision_vision .mision_text_box h2 span{
        font-size: 30px;
    }
    .why_shoose_us_section .text_head h2{
        font-size: 24px;
    }
    .why_shoose_us_section .text_head h2 span{
        gap: 20px;
    }
    .why_shoose_us_section .rai_box_section .rai_box_slide .icon_box{
        width: 130px;
        height: 130px;
    }
    .why_shoose_us_section .rai_box_section .rai_box_slide{
        margin: 10px 5px;
    }
    .why_shoose_us_section .text_head{
        margin-bottom: 25px;
    }
    .why_shoose_us_section{
        padding: 55px 0 60px 0;
    }
    .contact_us_area .footer_logo_section .logo_footer img{
        max-width: 75%;
    }
    .contact_us_area{
        padding: 45px 0 0 0;
    }
    .contact_us_area .footer_logo_section{
        padding: 0px 0 55px 0;
    }
    .inner_banner{
        height: 135px;
    }
    .inner_banner .inner_banner_text h1{
        font-size: 28px;
        margin-bottom: 5px;
    }
    .inner_banner .inner_banner_text .iner_brd li{
        font-size: 14px;
    }
    .inner_banner .inner_banner_text .iner_brd{
        gap: 20px;
    }
    .inner_banner .inner_banner_text .iner_brd li::before{
        width: 8px;
        left: 40px;
    }
    .mision_vision .mision_text_box h2 span{
        font-size: 28px;
    }
    .best_work_section .work_img::before{
        top: -8px;
        left: -8px;
        height: 8px;
    }
    .best_work_section .work_img::after{
        top: -8px;
        left: -8px;
        width: 8px;
    }
    .service_details .ser_detail_box .img_box_ser_details::before {
        top: -8px;
        left: -8px;
        height: 8px;
    }
    .service_details .ser_detail_box .img_box_ser_details::after {
        top: -8px;
        left: -8px;
        width: 8px;
    }
    .service_details .cellexir_text_section h2{
        font-size: 30px;
        line-height: 35px;
    }
    .contact_form .text_head h2 span{
        display: block;
    }
    .contact_form .text_head h2 span .br_text{
        display: block;
    }
    .contact_form .form_box .cont_main_section_form .contact_text_btm .button{
        padding: 6px 40px;
    }
    .map_section{
        height: 360px;
    }
    .service_inner .text_head h2{
        font-size: 22px;
        line-height: 30px;
    }
    .service_inner{
        padding: 55px 0 50px 0;
    }
    .Product_Categories_section::after{
        display: none;
    }
    .Product_Categories_section::before{
        display: none;
    }

}

@media only screen and (max-width: 350px){
    .main_testimonial_section {
        padding: 18px 0;    
    }
    .cellexir_promise_section .cellexir_img_section img{
        height: 200px;
    }
    .why_shoose_us_section .text_head h2{
        font-size: 22px;
    }
    .why_shoose_us_section .text_head h2 span{
        gap: 12px;
    }
    .service_details .ser_detail_box .img_box_ser_details{
        height: 185px;
    }
    .best_work_section .work_img{
        height: 185px;
    }
    .best_work_section .work_text h4{
        font-size: 20px;
        line-height: 25px;
    }
    .contact_us_area .footer_logo_section::before{
        top: 65px;
    }
    .contact_form .form_box .cont_main_section_form{
        padding: 12px;
    }
    .service_inner .slide_section .product_box .img_box{
        height: 190px;
    }
    .service_inner .text_head h2{
        font-size: 20px;
        line-height: 28px;
    }
    .service_inner .text_head h2 span{
        gap: 12px;
    }
    .Product_Categories_section .text_head h2 span{
        gap: 12px;
    }
    .home_blog_section .text_head h2 span{
        gap: 12px;
    }
    
}

















